.THIS .pagination-button{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.THIS .slds-button_inverse, .THIS .slds-button--inverse{
    border-color: #0070d2;
    color: rgb(0, 112, 210);
}
.THIS .pageNumber{
	padding-top: 15px;
    font-weight:300;
    letter-spacing:0.5px;
}